body{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
}

.top_page{
    position: fixed;
    background-color: white;
    max-width: inherit;
    margin-top: 0;
    width: 100%;
}

.menu {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80%;
    border-bottom: 1px solid orange;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.menu ul li {
    width: 9%;
}
@media (max-width: 40em) {
    .menu ul li {
        width: 100%;
    }
}
.menu ul li > ul {
    display: none;
    flex-direction: column;
}
.menu ul li > ul li {
    width: 100%;
}
.menu ul li:hover > ul {
    display: flex;
}
.menu a {
    text-transform: uppercase;
    display: block;
    background: white;
    padding: 2px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.menu a:hover {
    background: orange;
    color: white;
}
.menu .sub-menu li > a {
    background: orange;
    color: white;
}
.menu .sub-menu > a:after {
    content: "+";
    padding-left: 1px;
}

a.support{
    text-transform: uppercase;
    display: block;
    background: orange;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.main_page{
    display: flex;
    margin-bottom: 5%;
    padding-top: 17%;
    width: 100%;
}

.first_column{
    margin-top: 2%;
    width: 100%;
}

.second_column{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    align-items: center;
    width: 100%;
}

h1{
    text-align: justify;
    margin-top: 0;
}

h1:hover{
    color: orange;
}

p.main_text{
    margin-top: -1%;
}

.category_events{
    font-weight: bold;
    font-size: 150%;
    color: orange;
    text-align: center;
}

.category_nohover{
    font-weight: bold;
    font-size: 150%;
    color: orange;
    margin-top: 5%;
    text-align: center;
}

.category{
    font-weight: bold;
    font-size: 150%;
    color: orange;
    margin-top: 5%;
    text-align: center;
}

.category:hover{
    color: black;
}

.category_events:hover{
    color: black;
}

.category_content{
    display:flex;
    flex-direction: column;
}

h3{
    margin-top: 0;
}

h3:hover{
    color: orange;
}

p.sub_text{
    margin-top: -3%;
}

.category_selector {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100%;
}

.category_selector a {
    display: block;
    background: white;
    padding: 2px;
    color: gray;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid gray;
}

.category_selector ul {
    list-style: none;
    margin: 0;
    padding: 0 0 2% 0;
    display: flex;
    flex-wrap: wrap;
}

.category_selector a:hover{
    color: orange;
}

.category_button {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100%;
    padding: 2% 0 0 0;
    border-top: 1px solid gray;
}

.category_button a {
    display: block;
    background: white;
    padding: 5px;
    color: gray;
    text-decoration: none;
    text-align: left;
}

.category_button ul {
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.category_button li {
    border-right: 10px solid white;
}

.category_button a:hover{
    background-color: orange;
    color: white;
}

a.events{
    text-transform: uppercase;
    display: block;
    background: orange;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.custom_select {
    font-family: sans-serif;
    font-size: 100%;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}

.custom_select select{
    margin-top: 3%;
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    height: 8%;
}

.select-selected {
    background-color: DodgerBlue;
}

.label_input{
    margin-top: 3%;
    font-size: 100%;
    flex-wrap: nowrap;
    display: flex;
}

.label_input input{
    font-size: 100%;
    width: 83%;
    height: 165%;
    border: 1px solid #ccc;
}

.label_input button{
    font-size: 100%;
    height: 180%;
    width: 18%;
    margin-left: 2%;
    background-color: white;
    border: 1px solid #ccc;
    font-weight: bold;
}

.label_input button:hover{
    background-color: orange;
    color: white;
}

.secondary_information{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}

.first_information{
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.first_information2{
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.main_container{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.row_container{
    display: flex;
    flex-direction: row;
}

.row_container2{
    display: flex;
    flex-direction: row;
}

.first_information:hover h3{
    color: orange;
}

.first_information2:hover h3{
    color: orange;
}

.second_information{
    display: flex;
    flex-direction: column;
}

.second_information:hover h3{
    color: orange;
}

.third_page{
    display: flex;
    flex-direction: row;
}

.column1{
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

.column1_empty{
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

.column2{
    margin-top: 10%;
}

.row1{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.row1 img{
    margin-right: 2%;
}

.column2 button{
    background-color: orange;
    color: white;
    border: white;
    height: 100%;
}

.column2 button:hover{
    background-color: white;
    color: orange;
    border: orange 1px solid;
}

.button2{
    display: flex;
    margin-top: 4%;
    justify-content: flex-end;
    height: 10%;
}

.end_column {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80%;
    justify-content: center;
    display: flex;
    margin-top: 7%;
    margin-bottom: 5%;
}

.end_column a {
    display: block;
    background: white;
    color: gray;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid gray;
    padding-right: 10px;
    padding-left: 10px;
}

.end_column ul {
    list-style: none;
    margin: 0;
    padding: 0 0 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.end_column a:hover{
    color: orange;
}

.fifth_page{
    display: flex;
    flex-direction: row;
    margin-right: 0;
    align-items: center;
    flex-wrap: wrap;
}

.column5{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column5_third{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column5_second{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.row2 h3{
    margin-top: 2%;
    margin-bottom: 0;
}

.row2{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.column5 p{
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    margin-bottom: 0;
}

.column5 button{
    background-color: orange;
    color: white;
    border: white;
    height: 100%;
}

.column5 button:hover{
    background-color: white;
    color: orange;
    border: orange 1px solid;
}

.column5_second p{
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    margin-bottom: 0;
}

.column5_second button{
    background-color: orange;
    color: white;
    border: white;
    height: 100%;
}

.column5_second button:hover{
    background-color: white;
    color: orange;
    border: orange 1px solid;
}

.column5_third p{
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    margin-bottom: 0;
}

.column5_third button{
    background-color: orange;
    color: white;
    border: white;
    height: 100%;
}

.column5_third button:hover{
    background-color: white;
    color: orange;
    border: orange 1px solid;
}

.button5{
    display: flex;
    margin-top: 4%;
    justify-content: center;
    height: 40px;
}

.four_image{
    display: flex;
    margin-top: 2%;
    width: 100%;
}

.four_image img{
    margin-right: 2%;
    margin-bottom: 2%;
}

.img_row{
    display: flex;
    flex-direction: column;
}

.sixth_page{
    margin-top: 5%;
    border: #cccccc 10px solid;
    border-radius: 10px 10px 10px 10px;
}

.row5{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
    width: 100%;
}

.row5 img{
    margin-right: 2%;
    margin-left: 2%;
}

.last_notice{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    margin-bottom: 2%;
    justify-content: center;
}

.column_notice{
    display: flex;
    flex-direction: column;
}

.row_notice{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
}

.row_notice h4:hover{
    color: dodgerblue;
}

.notice_text{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.notice_text p{
    margin: 0 0 0 0;
}

.seventh_page{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.column6{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.column6 p{
    font-size: 80%;
    margin: 2% 0 0 0;
    color: gray;
}

.column6 h5{
    margin: 8% 0 0 0;;
}

.column6 p:hover{
    color: orange;
}

.column6 h5:hover{
    color: orange;
}

.eighth_page{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.row8{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.row8 p{
    margin-top: 0;
}

.row8 h3{
    margin-bottom: 0;
}

.row8_col{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-between;
    margin-bottom: 4%;
    width: 100%;
}

.ninth_page{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.row9{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-content: center;
}

.row9 p{
    margin: 0 0 0 0;
}

.row9 h3{
    margin: 0 0 1% 0;
}

.row9 h3:hover{
    color: black;
}

.row9_center{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
    margin-bottom: 4%;
}

.min_text{
    font-size: 70%;
    margin: 0 0 0 0;
}

/* Responsive */
@media screen and (max-width: 1110px){

    .top_page{
        border-bottom: gray 1px solid;
        padding-bottom: 2%;
        width: 100%;
    }
    .menu{
        display:none;
    }

    .icon_orlando{
        display: flex;
        justify-content: center;
    }

    .main_page{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;
        padding-top: 17%;
    }
    .main_image{
        display: flex;
    }

    .main_image img{
        width: 100%;
    }

    .second_column{
        display: flex;
        flex-direction: column;
        margin: 2% 0 0 0;
        align-items: center;
        width: 100%;
    }

    .main_text{
        display: flex;
        flex-direction: column;
    }

    .main_text p{
        margin: 0 0 0 0;
    }

    .body_page{
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 70%;
    }

    body{
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .category_content{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        align-items: flex-start;
        width: 100%;
    }

    .category_content img{
        width: 100%;
    }

    .category_button{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        align-items: flex-start;
        width: 100%;
    }

    .category_button ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .custom_select select{
        height: 100%;
    }

    .category_selector{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        align-items: center;
        width: 100%;
    }

    .row_container2{
        display: none;
    }

    .row_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .first_information{
        width: 50%;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .first_information img{
        width: 95%
    }

    .first_information img{
        width: 95%
    }

    .first_information2{
        width: 50%;
        margin: 0 2% 0 0;
        display: flex;
        flex-direction: column;
    }

    .second_information{
        width: 50%;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .column1_empty{
        display: none;
    }

    .third_page{
        display: flex;
        flex-direction: column;
    }

    .column1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .column2{
        display: flex;.
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .row1{
        margin: 4% 0 0 0;
    }

    .row1 img{
        width: 100%;
    }

    .button2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin: 0 0 0 0;
    }

    .button2 button{
        height: 100%;
    }

    .fifth_page{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        align-items: center;
        flex-wrap: wrap;

    }

    .column5{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2% 0 0 0;
        align-items: center;
        order: 1;
    }

    .column5_second{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2% 0 0 0;
        align-items: center;
        order: 2;
    }

    .column5_third{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2% 0 0 0;
        align-items: center;
        order: 3;
    }

    .row2{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .best{
        width: 100%;
    }

    .best img{
        width: 100%;
    }

    .four_image{
        margin: 0 0 0 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    .img_row{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: 100%;
    }

    .column5_third img{
        width: 100%;
    }

    .row5{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        align-items: center;
        width: 100%;
    }

    .row5 img{
        margin-top: 2%;
    }

    .last_notice{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        align-items: center;
        width: 100%;
    }

    .seventh_page{
        display:none
    }

    .row8{
        width: 100%;
        display: flex;
    }

    .row8 img{
        width: 100%;
    }

    .notice_text h4{
       margin: 0 0 0 0;
    }


}

@media screen and (max-width: 915px){
    .row8_col{
        display:inline-block;
    }
}