body{
    margin-left: 12%;
    margin-right: 12%;
}

.menu {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80%;
    border-bottom: 1px solid orange;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.menu ul li {
    width: 9%;
}
@media (max-width: 40em) {
    .menu ul li {
        width: 100%;
    }
}
.menu ul li > ul {
    display: none;
    flex-direction: column;
}
.menu ul li > ul li {
    width: 100%;
}
.menu ul li:hover > ul {
    display: flex;
}
.menu a {
    text-transform: uppercase;
    display: block;
    background: white;
    padding: 2px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.menu a:hover {
    background: orange;
    color: white;
}
.menu .sub-menu li > a {
    background: orange;
    color: white;
}
.menu .sub-menu > a:after {
    content: "+";
    padding-left: 1px;
}

a.support{
    text-transform: uppercase;
    display: block;
    background: orange;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.main_page{
    display: flex;
}

.first_column{
    margin-top: 2%;
}

.second_column{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    align-items: center;
}

h1{
    text-align: justify;
    margin-top: 0;
}

p.main_text{
    margin-top: -1%;
}

.category{
    display: flex;
    font-weight: bold;
    font-size: 180%;
    color: orange;
    text-align: center;
}

.category:hover{
    color: black;
}

.category_content{
    display:flex;
    flex-direction: column;
}

h3{
    margin-top: 0;
}

p.sub_text{
    margin-top: -3%;
}

.category_selector {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100%;
    border-bottom: 1px solid gray;
}

.category_selector a {
    display: block;
    background: white;
    padding: 2px;
    color: gray;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid gray;
}

.category_selector ul {
    list-style: none;
    margin: 0;
    padding: 0 0 2% 0;
    display: flex;
    flex-wrap: wrap;
}

